.products-row{
  padding: 1.5rem 0 1rem 0;

  @media (max-width: 768px) {
    flex-direction: column !important;
    align-items: center !important;
  }

  &:not(:last-child){
    border-bottom: 1px solid black;
    margin: 0 0 1rem 0;
  }
}

.product-card-container {
  text-decoration: none;
  color: black;

  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3px;
  }

  &-info > *{
    display: block;
    margin: 0.5rem 0 0 0.2rem;
  }
}

